/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  position: center;
  z-index: 1;
  color: #fff;
  text-decoration: underline;
  font-family: "strasua";
}

form {
  margin-bottom: 50px;
  text-align: center;
}

.name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

label {
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

#searchPlanet {
  text-align: center;
  align-items: center;
}

button {
  margin: 0 5px;
  padding: 8px 16px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flexbox;
}

.background-video {
  background-image: url("./assets/addis_APP.mp4");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.planet-section {
  align-content: center;
  margin-top: 20px;
  display: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.planet-container {
  display: flex;
  align-items: flex-start;
}

.planet-image {
  flex: 1;
  margin-right: 20px;
}

.planet-info {
  flex: 2;
}

.planetName {
  font-size: 24px;
  font-weight: bold;
}

.planetInfo {
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
  width: 60%;
}

.planetError {
  color: red;
  text-align: center;
}

.errorText {
  font-style: italic;
}

.hidden-button {
  display: none;
}

@font-face {
  font-family: "strasua-regular", sans-serif;
  src: url("./assets/strasua/strasua.ttf") format("truetype");
}

h2,
h3,
p {
  color: white;
}
